body{
	background: #e3e3e3;
	
	font-family: sans-serif;
}
article img{
	margin-right: 30px;
	float: left; 

	
}
.meta li
{
	display: inline;
	

}
.meta a{
	text-decoration: none;

}
.meta a:after{
	content: '\\';
}
.meta a:last_child:after
{
	content: none;
}
.post-info a:hover
{
	color: black;
}